
.gallery-container {
    padding-bottom: 2rem; 
}

/* Grid layout for the gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; 
}

/* Styling for each individual piece */
.piece {
    text-align: center;
    padding: 10px;
    border: 10px solid #483D03; 
    border-radius: 8px; 
    background-color: #646536; 
    transition: transform 0.2s; 
}

/* Optional: Add hover effect */
.piece:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Description styling */
.description {
    color: #DEF2C8; 
    font-size: 16px; 
    font-style: italic; 
}
